@import url("https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap");

body {
  font-family: Arial, sans-serif;
  max-width: 100vw;
  box-sizing: content-box !important;
  overflow-x: hidden;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0 5rem;
}

h1 {
  color: #333;
}

.container {
  box-sizing: border-box !important;
  max-width: 100vw !important;
}

.title-container {
  display: grid;
  grid-template-columns: 400px 2fr 1fr;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
}

.title {
  color: #333;
  font-size: 25px;
  font-family: "RocknRoll One", sans-serif;
  margin: 0 !important;
}

.title-tools {
  display: flex;
  align-items: center;
  gap: 5px;
}

.search-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.search-hidden {
  display: none;
}

#search {
  background-color: #434343;
  color: #fff;
}

#searchTypeView {
  width: 100%;
}

#searchType {
  width: 100%;
  background-color: #434343;
  color: #fff;
}

#resultCount {
  display: inline-block;
  color: #fff;
  font-size: 15px;
  margin-bottom: 20px;
  background-color: #00749b;
  padding: 2px 10px;
  border-radius: 10px;
}

.table-wrapper {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

table {
  width: 100%;
  height: 100%;
  margin: 0;
}

th {
  cursor: pointer;
  padding: 5px !important;
  max-height: 30px !important;
  text-align: center !important;
  vertical-align: bottom !important;
  color: #fff !important;
  background-color: #3e8ed0 !important;
}

th .sort-arrow {
  font-size: 12px;
  color: #ccc;
  display: inline-block;
}

th.sorted-asc .sort-arrow,
th.sorted-desc .sort-arrow {
  margin-left: 5px;
}

th.sortable {
  box-sizing: border-box;
  margin: 0;
  text-align: center;
}

th.sortable.sorted-asc .sort-arrow:before {
  content: "▲";
}

th.sortable.sorted-desc .sort-arrow:before {
  content: "▼";
}

th.sortable .sort-arrow {
  visibility: hidden;
}

th.sortable.sorted-asc .sort-arrow,
th.sortable.sorted-desc .sort-arrow {
  visibility: visible;
}

td {
  vertical-align: middle !important;
  height: 100%;
}

tr th.table-id {
  min-width: 70px;
}

tr th.table-type {
  min-width: 150px;
}

tr th.table-image {
  min-width: 72px;
}

tr th.table-title {
  min-width: 250px;
}

tr th.table-publisher {
  min-width: 150px;
}

tr th.table-date {
  min-width: 100px;
}

tr th.table-download {
  min-width: 70px;
}

tr th.table-vote {
  min-width: 70px;
}

tr th.table-diff {
  display: none;
  min-width: 150px;
}

tr th.table-lua {
  display: none;
  min-width: 70px;
}

tr th.table-button {
  min-width: 100px;
}

tr td.table-id {
  text-align: right;
}

tr td.table-type {
  text-align: center;
}

tr td.table-date {
  text-align: center;
}

tr td.table-download {
  text-align: right;
}

tr td.table-vote {
  text-align: right;
}

tr td.table-diff {
  display: none;
}

tr td.table-lua {
  display: none;
  text-align: center;
}

tr td.table-button {
  text-align: center;
}

img {
  cursor: pointer;
}

.accordion {
  margin-bottom: 10px;
}

.accordion ul {
  padding-left: 1.5rem;
  list-style-type: disc;
}

.accordion ul ul {
  list-style-type: circle;
}

.accordion div > ul {
  padding-left: 1rem;
  margin-left: 10px;
}

.accordion p {
  margin-left: -1rem;
  list-style-type: disc;
}


.accordion summary {
  cursor: pointer;
  color: #fff;
  background-color: #3e8ed0;
  padding: 5px 10px;
  justify-content: center;
  border-radius: 0.375rem;
}

.accordion div {
  padding: 10px;
  background-color: #f9fafb;
  border: 1px solid #d6d9e0;
  border-radius: 0.375rem;
}

.accordion[open] summary {
  border-radius: 0.375rem 0.375rem 0 0;
}

.accordion[open] div {
  border-radius: 0 0 0.375rem 0.375rem;
}

.difficulty {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.diff {
  min-width: 30px;
  min-height: 30px;
  max-width: 30px;
  max-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  color: #fff;
  gap: 0;
}

#diff-easy {
  background-color: #4caf50;
}

#diff-normal {
  background-color: #2196f3;
}

#diff-hard {
  background-color: #ffc107;
}

#diff-extra {
  background-color: #ff5722;
}

#diff-lunatic {
  background-color: #9c27b0;
}

.btn-download {
  font-size: 13px;
  padding: 5px 10px;
}

.is-info {
  color: #fff;
  background-color: #3e8ed0;
}

.text-unavailable {
  color: #808080;
  text-align: center;
}

.pagination {
  margin-top: 30px;
  margin-bottom: 100px;
}

.summary {
  margin-bottom: 10px;
}

.jacket-img {
  min-width: 72px;
  width: 72px;
  height: auto;
  vertical-align: middle;
}

.vote-score {
  position: relative;
  display: inline-block;
}

.vote-score-none {
  position: absolute;
  top: 0;
  right: 0;
}

.vote-score-disable {
  visibility: hidden;
}

.star-count {
  position: relative;
  display: inline-block;
}

.star-count-on {
  position: absolute;
  top: 0;
  color: #ffc107;
  overflow: hidden;
  white-space: nowrap;
}

.star-count-off {
  color: #ccc;
}

.star-00 {
  width: 0%;
}

.star-10 {
  width: 20%;
}

.star-15 {
  width: 30%;
}

.star-20 {
  width: 40%;
}

.star-25 {
  width: 50%;
}

.star-30 {
  width: 60%;
}

.star-35 {
  width: 70%;
}

.star-40 {
  width: 80%;
}

.star-45 {
  width: 90%;
}

.star-50 {
  width: 100%;
}

.formated-id {
  white-space: nowrap;
}

.image-container {
  position: relative;
}

.popup {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #0007;
}

.popup-inside {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.popup-inside div {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 10px;
  max-width: min(600px, 90%);
  max-height: 95%;
  background-color: #fff;
  border-radius: 10px;
}

.popup-image {
  display: block;
  padding: 20px;
  margin: 0 auto;
  max-width: min(512px, 90%);
  max-height: min(512px, 90%);
}

.popup-text {
  padding-bottom: 20px;
  text-align: center;
  font-size: 20px;
}

.popup-close {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .title-container {
    grid-template-columns: 320px 2fr 1fr;
  }

  .title {
    font-size: 20px;
  }
}

@media screen and (max-width: 1050px) {
  body {
    padding: 0 1rem;
  }

  .title-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .title {
    font-size: 20px;
    text-align: center;
  }

  /*   .title-tools {
    margin-bottom: 25px;
  } */

  .search-container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 480px;
  }

  .summury {
    align-items: center;
  }
}

@media screen and (max-width: 480px) {
  .title-tools {
    display: flex;
    /*    flex-direction: column; */
    align-items: center;
  }
}
@media screen and (min-width: 1500px) {
  .title-container {
    display: grid;
    grid-template-columns: 3fr 2fr 1fr;
    align-items: center;
    gap: 10px;
    width: 100%;
    box-sizing: border-box;
  }
}
